<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.klinker.android.twitter" >

    <uses-sdk tools:overrideLibrary="android.support.v13,android.support.v4,android.support.v7.cardview,android.support.wearable"/>
    <uses-feature android:name="android.hardware.type.watch" />

    <application
            android:allowBackup="true"
            android:label="@string/wear_app_name"
            android:icon="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.DeviceDefault">

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <activity android:name=".wear.activity.WearActivity"
                  android:label="@string/wear_app_name"
                  android:allowEmbedded="true"
                  android:taskAffinity=""
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".wear.activity.SettingsActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light"/>

        <activity android:name=".wear.activity.TextSizeActivity"
                  android:theme="@android:style/Theme.DeviceDefault.Light"/>

        <service android:name=".wear.service.NotificationListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
